.Header{
    /* background-color: #f1f1f1; */
    border-radius: 1rem;
}

.Header :hover{
    background-color: #f1f1f1;
    border-radius: 1rem;
   
}
.storeHeading{
    display: flex;
    gap: 1rem;

}
.headerCard{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.storeHeadSpan{
    border-bottom:dotted;
    color: black;
    position: relative;
}
.pen{
    border-radius: 0.5rem;

}
.pen :hover{
background-color: lightgray;

}
.money{
    color: black;
   
}
.money .percent{
    color:grey;
}
.dialogBox{
    position: absolute;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 1rem;
}
.dialog{
    padding: 1rem;
    letter-spacing: 1px;
 
}