
.App {
  background-color: #f1f1f1;
  height: 96vh;
  margin: 0px;
  padding: 0px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100%;
}
.card {
    background-color:#f1f1f1;
  width: 70%;
  border-radius: 1rem;
  padding: 0 1rem 0 1rem;
  height: 70%;
}
.navs-links{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.p-accordion .p-accordion-header .p-accordion-header-link{
    border: none !important;
    background-color:white !important;
    margin: 0 !important;
}
.p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon{
    float: right !important;
}
.p-accordion-header-link{
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row-reverse !important;
    align-items: center !important;
}
.footer{
    display: flex;
flex-direction: row-reverse;
    gap:2rem;
}
.footerChild{
    background-color: #f1f1f1;
    padding:0.2rem 1.5rem 0.2rem 1.5rem;
border-radius: 5px;
}
.p-listbox-list-wrapper{
    overflow: hidden !important;
}

